In [1]:
import pandas as pd

In [2]:
x = {'name':['Nizam','Sajjad'],
     'age':[43, 33]}

In [3]:
x

{'name': ['Nizam', 'Sajjad'], 'age': [43, 33]}

In [4]:
df = pd.DataFrame(data=x)

In [5]:
df

     name  age
0   Nizam   43
1  Sajjad   33